<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<form action="/file/up" method="post" enctype="multipart/form-data">
<input type="file" name="file" ><br>
<input type="submit" value="提交" >
</form>
</body>
</html>