<html>
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>登录(Login)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->


            <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

            <script>
                $(function () {
                   $("select").change(function () {
                       if($("select").val()!=-1){
                           $("select").css({"background-color":"green"})

                       }else {
                           $("select").css({"background-color":"red"})
                       }
                   })
                })
                function loginClick(){
                      if($("select").val()==-1){
                           $("select").css({"background-color":"red","font-size":"15px"})
                      }else{
                            $("#btn").click();
                      }
                }
            </script>

<style>
    body{
        background-image: url("/img/backbg.jpg"); background-repeat:repeat-y;
    }
</style>
    </head>

    <body>

        <div class="page-container">
            <h1>登录(Login)</h1>
            <form action="/student/toLogin" method="post">
                <input type="text" name="snumber" class="username" placeholder="请输入您的用户名！">
                <input type="password" name="spassword" class="password" placeholder="请输入您的用户密码！">
                <input type="Captcha" class="Captcha" name="Captcha" placeholder="请输入验证码！">         <select style="BACKGROUND-COLOR: transparent;" name="personid"><option value="-1">请选择您的职位</option><option value="1">管理员</option><option  value="0">学生</option></select>
                <div><button type="button" onclick="loginClick()" class="submit_button">登录</button></div>
                <div style="display: none"><button id="btn" type="submit" class="submit_button">登录</button></div>
            </form>
        </div>
        <div>[[${msg}]]</div>
        <!-- Javascript -->

    </body>
</html>

