<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.DromMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Drom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dtype" property="dtype" jdbcType="VARCHAR" />
    <result column="dnumber" property="dnumber" jdbcType="VARCHAR" />
    <result column="dfloor" property="dfloor" jdbcType="VARCHAR" />
    <result column="dnumber1" property="dnumber1" jdbcType="INTEGER" />
    <result column="dxy" property="dxy" jdbcType="VARCHAR" />
    <result column="dzy" property="dzy" jdbcType="VARCHAR" />
    <result column="dclass" property="dclass" jdbcType="VARCHAR" />
    <result column="dprople" property="dprople" jdbcType="VARCHAR" />
    <result column="dstatus" property="dstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dtype, dnumber, dfloor, dnumber1, dxy, dzy, dclass, dprople, dstatus
  </sql>
  <select id="selectDromDemo" resultType="Drom" >
    select * from drom where id=#{id}
  </select>
  <select id="selectAll" resultType="Drom" >
    select * from drom
  </select>
  <select id="selectDromOne" resultType="Drom" >
    select * from drom where dnumber1=#{dnumber1} and dtype=#{dtype}
  </select>
  <select id="selectDrom" resultType="Drom">
    select * from drom
    <where>
      <if test="type!='请选择公寓类型'">
        dtype=#{type}
      </if>
      <if test="number!=null and number.length()>0">
       and  dnumber like #{number}
      </if>
      <if test="floor!=null and floor.length()>0">
      and  dfloor like #{floor}
      </if>
      <if test="number1!=null and number.length()>0" >
       and  dnumber1 like #{number1}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from drom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Drom" >
    insert into drom (id, dtype, dnumber, 
      dfloor, dnumber1, dxy, 
      dzy, dclass, dprople, 
      dstatus)
    values (#{id,jdbcType=INTEGER}, #{dtype,jdbcType=VARCHAR}, #{dnumber,jdbcType=VARCHAR}, 
      #{dfloor,jdbcType=VARCHAR}, #{dnumber1,jdbcType=INTEGER}, #{dxy,jdbcType=VARCHAR}, 
      #{dzy,jdbcType=VARCHAR}, #{dclass,jdbcType=VARCHAR}, #{dprople,jdbcType=VARCHAR}, 
      #{dstatus,jdbcType=INTEGER})
  </insert>
  <insert id="addDrom" parameterType="com.example.demo.model.Drom" >
    insert into drom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drom.dtype != null" >
        dtype,
      </if>
      <if test="drom.dnumber != null" >
        dnumber,
      </if>
      <if test="drom.dfloor != null" >
        dfloor,
      </if>
      <if test="drom.dnumber1 != null" >
        dnumber1,
      </if>
      <if test="drom.dxy != null" >
        dxy,
      </if>
      <if test="drom.dzy != null" >
        dzy,
      </if>
      <if test="drom.dclass != null" >
        dclass,
      </if>
      <if test="drom.dprople != null" >
        dprople,
      </if>
      <if test="drom.dprople1 != null" >
        dprople1,
      </if>
      <if test="drom.dprople2 != null" >
        dprople2,
      </if>
      <if test="drom.dprople3 != null" >
        dprople3,
      </if>
      <if test="drom.dprople4 != null" >
        dprople4,
      </if>
      <if test="drom.dprople5 != null" >
        dprople5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drom.dtype != null" >
        #{drom.dtype},
      </if>
      <if test="drom.dnumber != null" >
        #{drom.dnumber},
      </if>
      <if test="drom.dfloor != null" >
        #{drom.dfloor},
      </if>
      <if test="drom.dnumber1 != null" >
        #{drom.dnumber1},
      </if>
      <if test="drom.dxy != null" >
        #{drom.dxy},
      </if>
      <if test="drom.dzy != null" >
        #{drom.dzy},
      </if>
      <if test="drom.dclass != null" >
        #{drom.dclass},
      </if>
      <if test="drom.dprople != null" >
      #{drom.dprople,jdbcType=VARCHAR},
    </if>
      <if test="drom.dprople1 != null" >
        #{drom.dprople1},
      </if>
      <if test="drom.dprople2 != null" >
        #{drom.dprople2},
      </if>
      <if test="drom.dprople3 != null" >
        #{drom.dprople3},
      </if>
      <if test="drom.dprople4 != null" >
        #{drom.dprople4},
      </if>
      <if test="drom.dprople5 != null" >
        #{drom.dprople5},
      </if>
    </trim>
  </insert>
  <update id="updatedrom">
    update drom
    <set >
      <if test="drom.dtype != null" >
        dtype = #{drom.dtype,jdbcType=VARCHAR},
      </if>
      <if test="drom.dnumber != null" >
        dnumber = #{drom.dnumber,jdbcType=VARCHAR},
      </if>
      <if test="drom.dfloor != null" >
        dfloor = #{drom.dfloor,jdbcType=VARCHAR},
      </if>
      <if test="drom.dnumber1 != null" >
        dnumber1 = #{drom.dnumber1,jdbcType=INTEGER},
      </if>
      <if test="drom.dxy != null" >
        dxy = #{drom.dxy,jdbcType=VARCHAR},
      </if>
      <if test="drom.dzy != null" >
        dzy = #{drom.dzy,jdbcType=VARCHAR},
      </if>
      <if test="drom.dclass != null" >
        dclass = #{drom.dclass,jdbcType=VARCHAR},
      </if>
      <if test="drom.dprople != null" >
      dprople = #{drom.dprople,jdbcType=VARCHAR},
    </if>
      <if test="drom.dprople1 != null" >
        dprople1 = #{drom.dprople1,jdbcType=VARCHAR},
      </if>
      <if test="drom.dprople2 != null" >
        dprople2 = #{drom.dprople2,jdbcType=VARCHAR},
      </if>
      <if test="drom.dprople3 != null" >
        dprople3 = #{drom.dprople3,jdbcType=VARCHAR},
      </if>
      <if test="drom.dprople4 != null" >
        dprople4 = #{drom.dprople4,jdbcType=VARCHAR},
      </if>
      <if test="drom.dprople5 != null" >
        dprople5 = #{drom.dprople5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{drom.id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Drom" >
    update drom
    set dtype = #{dtype,jdbcType=VARCHAR},
      dnumber = #{dnumber,jdbcType=VARCHAR},
      dfloor = #{dfloor,jdbcType=VARCHAR},
      dnumber1 = #{dnumber1,jdbcType=INTEGER},
      dxy = #{dxy,jdbcType=VARCHAR},
      dzy = #{dzy,jdbcType=VARCHAR},
      dclass = #{dclass,jdbcType=VARCHAR},
      dprople = #{dprople,jdbcType=VARCHAR},
      dstatus = #{dstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>