<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Image" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ititle" property="ititle" jdbcType="VARCHAR" />
    <result column="itype" property="itype" jdbcType="VARCHAR" />
    <result column="isort" property="isort" jdbcType="INTEGER" />
    <result column="itime" property="itime" jdbcType="VARCHAR" />
    <result column="iauthor" property="iauthor" jdbcType="VARCHAR" />
    <result column="idescribe" property="idescribe" jdbcType="VARCHAR" />
    <result column="iurl" property="iurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ititle, itype, isort, itime, iauthor, idescribe, iurl
  </sql>
  <insert id="addimage">
    insert  into image(ititle,itype,isort,itime,iauthor,idescribe,iurl) values (#{image.ititle},#{image.itype},#{image.isort},#{image.itime},#{image.iauthor},#{image.idescribe},#{image.iurl})
  </insert>
  <select id="selectAll" resultType="Image">
    select * from image
  </select>
  <update id="updateStatus">
    update image set istatus=#{istatus} where id=#{id}
  </update>
  <select id="selectStatus" resultType="Image">
    select * from image where istatus=1
  </select>
</mapper>